[submodule "test/libs/bats-assert"]
	path = test/libs/bats-assert
	url = https://github.com/bats-core/bats-assert.git
[submodule "test/libs/bats-support"]
	path = test/libs/bats-support
	url = https://github.com/ztombol/bats-support
