name: CD

on:
  push:
    tags:
      - 'v*'

jobs:
  goreleaser:
    name: Publish Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Unshallow
        run: git fetch --prune --unshallow
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.14
      - name: Check code format
        run: make gofmt_check
      - name: Run tests
        run: make test
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v2
        with:
          version: latest
          args: release --rm-dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Get the new version
        id: new_version
        run: echo ::set-output name=VERSION::$(echo $GITHUB_REF | cut -d / -f 3)
      - name: Get the old version
        id: old_version
        run: echo ::set-output name=VERSION::$(git tag --list "v*" --sort=refname | tail -n 2 | head -n 1)
      - name: Check version
        run: |
          /usr/bin/bash ./tools/git-versioning.sh ${{ steps.new_version.outputs.VERSION }} ${{ steps.old_version.outputs.VERSION }}
