name: CD

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:
    inputs:
      runTests:
        description: 'Run tests?'
        required: true
        default: 'yes'

jobs:
  goreleaser:
    name: Publish Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version-file: 'go.mod'

      - name: Check code format
        run: make gofmt_check

      - name: Run tests
        env:
          IONOS_USERNAME: ${{ secrets.IONOS_USERNAME }}
          IONOS_PASSWORD: ${{ secrets.IONOS_PASSWORD }}
        run: make test
        if: github.event_name == 'push' || github.event.inputs.runTests == 'yes'

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v3
        with:
          version: latest
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GH_PAT }}
          SNAPCRAFT_STORE_CREDENTIALS: ${{ secrets.SNAPCRAFT_STORE_CREDENTIALS }}
        if: success()
